a {
    margin: 0.5em;
    background-color: black;
    padding: 0.7em;
    border-radius: 1em;
    color: cadetblue;
    font-size: 1.5em;
    transition: 0.3s;
    text-decoration: none;
}
a:hover {
    background-color: rgb(66, 21, 21);
    padding: 1em;
    margin: 0.2em;
    transition: 0.3s;
}
.nav {
    text-align: center;
    background-color: cadetblue;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 27em;
    margin-right: 27em;
    border-radius: 1em;
}