a {
    margin: 0.5em;
    background-color: rgb(40, 87, 88);
    padding: 0.7em;
    border-radius: 1em;
    color: rgb(182, 241, 243);
    font-size: 1.5em;
    transition: 0.3s;
}
a:hover {
    background-color: rgb(29, 58, 58);
    padding: 1em;
    margin: 0.2em;
    transition: 0.3s;
}
.nav {
    text-align: center;
}