h1 {
    font-size: 4em;
    text-align: center;
    color: rgb(29, 57, 58);
    font-size: 6em;
    margin-bottom: 0em;
}
body {
    background-color: rgb(169, 232, 235);
    font-family: monospace;
}