h1 {
    font-size: 4em;
    text-align: center;
    color: black;
    font-size: 6em;
    margin-bottom: 0em;
}
body {
    background-color: black;
    font-family: monospace;
}
.esc {
    font-style: italic;
}