/* Contenedor principal */
.carrousel-content {
  display: flex;             /* Alinea los elementos en fila */
  align-items: center;       /* Centra verticalmente las flechas con la imagen */
  justify-content: center;    /* Centra todo el conjunto en el medio de la pantalla */
  gap: 20px;
  width: 30%;
  background-color: rgb(47, 87, 88);
  padding: 2em;
  border-radius: 2em;
  margin-top: 1em;
  margin-left: 1em;
}

.img {
  width: 75%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  border: 1em;
  border-color: black;
}

.img ::ng-deep img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Estilo básico para los botones (flechas) */
button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s;
  color: cadetblue;
}

button:hover {
  transform: scale(1.2);
}